In [183]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [184]:
train=pd.read_csv('bw2train.csv')
train.head()

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
0,id_11,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
1,id_33,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0
2,id_51,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,gf,ce,...,0,0,0,0,0,0,0,0,0,0
3,id_54,7.894737e-08,0.227239,0.0,1.050000e-06,1.381579e-07,2.190789e-07,1.848054e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
4,id_62,3.321053e-06,0.160410,0.0,2.105000e-06,2.769737e-07,3.340789e-06,2.152983e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0

In [185]:
test=pd.read_csv('bw2test.csv')
test.head()

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,cat_var_33,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42
0,id_1,4.736842e-07,0.162737,0.0,2.105000e-06,2.769737e-07,4.828947e-07,1.300010e-07,da,tn,...,0,0,0,0,0,0,0,0,0,0
1,id_6,6.578947e-08,0.086391,0.0,7.500000e-07,1.315789e-07,9.868421e-08,3.186300e-08,pu,ce,...,0,0,0,0,0,0,0,0,0,0
2,id_9,1.585526e-07,0.159987,0.0,2.105000e-06,2.769737e-07,1.585526e-07,4.715724e-08,da,tn,...,0,0,0,0,0,0,0,0,0,0
3,id_14,8.552632e-08,0.088083,0.0,7.500000e-07,8.552632e-08,9.868421e-08,4.142190e-08,pu,ce,...,0,0,0,0,0,0,0,0,0,0
4,id_15,1.144737e-07,0.089563,0.0,3.550000e-07,4.671053e-08,4.407895e-08,1.452953e-07,gf,ce,...,0,0,0,0,0,0,0,0,0,0

In [186]:
train.shape

(348978, 51)

In [187]:
from sklearn.base import TransformerMixin
class DataFrameImputer(TransformerMixin):
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].median() for c in X],
            index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [188]:
train = DataFrameImputer().fit_transform(train)

In [189]:
test=pd.read_csv('bw2test.csv')
test_df=test[['num_var_1', 'num_var_2','num_var_4','num_var_5', 'num_var_6', 'num_var_7', 'cat_var_1','cat_var_3', 'cat_var_4', 'cat_var_6', 'cat_var_8', 'cat_var_10','cat_var_13','cat_var_14','cat_var_15', 'cat_var_17', 'cat_var_18','cat_var_19','cat_var_20','cat_var_21','cat_var_22','cat_var_24','cat_var_25','cat_var_26','cat_var_28','cat_var_29','cat_var_30']]
test_df.head()

,num_var_1,num_var_2,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_3,cat_var_4,cat_var_6,...,cat_var_19,cat_var_20,cat_var_21,cat_var_22,cat_var_24,cat_var_25,cat_var_26,cat_var_28,cat_var_29,cat_var_30
0,4.736842e-07,0.162737,2.105000e-06,2.769737e-07,4.828947e-07,1.300010e-07,da,gt,tn,hm,...,1,0,1,0,1,0,0,0,0,0
1,6.578947e-08,0.086391,7.500000e-07,1.315789e-07,9.868421e-08,3.186300e-08,pu,NaN,ep,oi,...,0,1,1,0,1,0,0,0,0,0
2,1.585526e-07,0.159987,2.105000e-06,2.769737e-07,1.585526e-07,4.715724e-08,da,qz,tn,hm,...,1,0,1,0,1,0,0,0,0,0
3,8.552632e-08,0.088083,7.500000e-07,8.552632e-08,9.868421e-08,4.142190e-08,pu,ex,ep,no,...,0,1,1,0,1,0,0,0,0,0
4,1.144737e-07,0.089563,3.550000e-07,4.671053e-08,4.407895e-08,1.452953e-07,gf,NaN,tn,zs,...,0,1,0,1,1,0,0,0,0,0

In [190]:
train_df=train[['num_var_1', 'num_var_2','num_var_4','num_var_5', 'num_var_6', 'num_var_7', 'cat_var_1','cat_var_3', 'cat_var_4', 'cat_var_6', 'cat_var_8', 'cat_var_10','cat_var_13','cat_var_14','cat_var_15', 'cat_var_17', 'cat_var_18','cat_var_19','cat_var_20','cat_var_21','cat_var_22','cat_var_24','cat_var_25','cat_var_26','cat_var_28','cat_var_29','cat_var_30']]

In [191]:
len(train_df.columns)

27

In [192]:
# We'll impute missing values using the median for numeric columns and the most common value for string columns.
from sklearn.base import TransformerMixin
class DataFrameImputer(TransformerMixin):
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].median() for c in X],
            index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [193]:
all_X=train.append(test)
all_X_imputed = DataFrameImputer().fit_transform(all_X)

In [70]:
big_X = train_df.append(test_df)
big_X_imputed = DataFrameImputer().fit_transform(big_X)

In [71]:
big_X_imputed.columns

Index(['num_var_1', 'num_var_2', 'num_var_4', 'num_var_5', 'num_var_6',
       'num_var_7', 'cat_var_1', 'cat_var_3', 'cat_var_4', 'cat_var_6',
       'cat_var_8', 'cat_var_10', 'cat_var_13', 'cat_var_14', 'cat_var_15',
       'cat_var_17', 'cat_var_18', 'cat_var_19', 'cat_var_20', 'cat_var_21',
       'cat_var_22', 'cat_var_24', 'cat_var_25', 'cat_var_26', 'cat_var_28',
       'cat_var_29', 'cat_var_30'],
      dtype='object')

In [72]:
#categorical values to numerical values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for feature in big_X_imputed.columns:
    if big_X_imputed[feature].dtype == 'object':
        big_X_imputed[feature] = le.fit_transform(big_X_imputed[feature])

In [171]:
#categorical values to numerical values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for feature in all_X_imputed.columns:
    if all_X_imputed[feature].dtype == 'object':
        all_X_imputed[feature] = le.fit_transform(all_X_imputed[feature])

In [73]:
big_X_imputed.columns

Index(['num_var_1', 'num_var_2', 'num_var_4', 'num_var_5', 'num_var_6',
       'num_var_7', 'cat_var_1', 'cat_var_3', 'cat_var_4', 'cat_var_6',
       'cat_var_8', 'cat_var_10', 'cat_var_13', 'cat_var_14', 'cat_var_15',
       'cat_var_17', 'cat_var_18', 'cat_var_19', 'cat_var_20', 'cat_var_21',
       'cat_var_22', 'cat_var_24', 'cat_var_25', 'cat_var_26', 'cat_var_28',
       'cat_var_29', 'cat_var_30'],
      dtype='object')

In [45]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
clf = ExtraTreesClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
clf.feature_importances_  

model = SelectFromModel(clf, prefit=True)

C:\Users\Debadri\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [48]:
X_train_opt = model.transform(X_train)
feature_idx_train = model.get_support()
feature_name_train = X_train.columns[feature_idx_train]
print(feature_name_train)

Index(['num_var_1', 'num_var_2', 'num_var_6', 'num_var_7', 'cat_var_1',
       'cat_var_3', 'cat_var_4', 'cat_var_6', 'cat_var_8', 'cat_var_10',
       'cat_var_13', 'cat_var_14', 'cat_var_15'],
      dtype='object')

In [74]:
big_X_imputed.drop(['num_var_4','num_var_5','cat_var_17','cat_var_18','cat_var_19', 'cat_var_20', 'cat_var_21', 'cat_var_22', 'cat_var_24','cat_var_25', 'cat_var_26', 'cat_var_28', 'cat_var_29', 'cat_var_30'],axis=1,inplace=True)

In [177]:
all_X_imputed.drop('transaction_id',axis=1,inplace=True)

In [76]:
train_X = big_X_imputed[0:train_df.shape[0]].as_matrix()
test_X = big_X_imputed[train_df.shape[0]::].as_matrix()
train_y = train['target']

In [180]:
x_train=all_X_imputed[0:train.shape[0]].as_matrix()
x_test=all_X_imputed[train_df.shape[0]::].as_matrix()
train_y = train['target']

In [173]:
train_X

array([[  2.30263158e-08,   4.01818759e-02,   2.36842105e-08, ...,
          1.90000000e+01,   1.00000000e+00,   0.00000000e+00],
       [  7.96578947e-06,   1.57872475e-01,   7.96578947e-06, ...,
          1.40000000e+01,   1.00000000e+00,   1.00000000e+00],
       [  7.82894737e-08,   8.91403193e-02,   1.05263158e-07, ...,
          1.60000000e+01,   1.00000000e+00,   0.00000000e+00],
       ...,
       [  4.54605263e-07,   1.48672941e-01,   4.54605263e-07, ...,
          1.40000000e+01,   1.00000000e+00,   1.00000000e+00],
       [  1.59210526e-07,   7.90948504e-02,   1.59210526e-07, ...,
          1.60000000e+01,   1.00000000e+00,   0.00000000e+00],
       [  1.71052632e-07,   1.63053823e-01,   1.84210526e-07, ...,
          1.40000000e+01,   1.00000000e+00,   1.00000000e+00]])

In [78]:
test_X = big_X_imputed[train_df.shape[0]::].as_matrix()

In [79]:
test_X

array([[  4.73684211e-07,   1.62736597e-01,   4.82894737e-07, ...,
          1.40000000e+01,   1.00000000e+00,   1.00000000e+00],
       [  6.57894737e-08,   8.63910331e-02,   9.86842105e-08, ...,
          1.00000000e+01,   2.00000000e+00,   0.00000000e+00],
       [  1.58552632e-07,   1.59987311e-01,   1.58552632e-07, ...,
          1.40000000e+01,   1.00000000e+00,   1.00000000e+00],
       ...,
       [  7.30263158e-08,   4.15776673e-01,   7.30263158e-08, ...,
          5.10000000e+01,   1.00000000e+01,   0.00000000e+00],
       [  1.05263158e-07,   1.52268161e-01,   1.05263158e-07, ...,
          1.40000000e+01,   1.00000000e+00,   1.00000000e+00],
       [  1.63618421e-06,   4.75943745e-01,   4.40789474e-08, ...,
          4.50000000e+01,   7.00000000e+00,   0.00000000e+00]])

In [181]:
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05).fit(x_train, train_y)
predictions = gbm.predict_proba(x_test)

In [182]:
prediction = pd.DataFrame(predictions, columns=['targe','target']).to_csv('bw2.csv')

In [96]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(train_X,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [97]:
predicti=rf.predict(test_X)

In [100]:
prediction = pd.DataFrame(predicti, columns=['target']).to_csv('bw2.csv')

In [20]:
from sklearn import preprocessing
for x in X_train.columns:
    if X_train[x].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(X_train[x].values))
        X_train[x] = lbl.transform(list(X_train[x].values))

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
clf = ExtraTreesClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
clf.feature_importances_  

model = SelectFromModel(clf, prefit=True)

In [ ]:
X_train_opt = model.transform(X_train)
feature_idx_train = model.get_support()
feature_name_train = X_train.columns[feature_idx_train]
print(feature_name_train)

In [32]:
from sklearn.base import TransformerMixin
class DataFrameImputer(TransformerMixin):
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].median() for c in X],
            index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [42]:
X_train = DataFrameImputer().fit_transform(train)
X_train.drop(['target','transaction_id'],axis=1,inplace=True)

In [43]:
#categorical values to numerical values
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for feature in X_train.columns:
    if X_train[feature].dtype == 'object':
        X_train[feature] = le.fit_transform(X_train[feature])

In [44]:
y_train=train[['target']]

In [46]:
X_train.columns

Index(['num_var_1', 'num_var_2', 'num_var_3', 'num_var_4', 'num_var_5',
       'num_var_6', 'num_var_7', 'cat_var_1', 'cat_var_2', 'cat_var_3',
       'cat_var_4', 'cat_var_5', 'cat_var_6', 'cat_var_7', 'cat_var_8',
       'cat_var_9', 'cat_var_10', 'cat_var_11', 'cat_var_12', 'cat_var_13',
       'cat_var_14', 'cat_var_15', 'cat_var_16', 'cat_var_17', 'cat_var_18',
       'cat_var_19', 'cat_var_20', 'cat_var_21', 'cat_var_22', 'cat_var_23',
       'cat_var_24', 'cat_var_25', 'cat_var_26', 'cat_var_27', 'cat_var_28',
       'cat_var_29', 'cat_var_30', 'cat_var_31', 'cat_var_32', 'cat_var_33',
       'cat_var_34', 'cat_var_35', 'cat_var_36', 'cat_var_37', 'cat_var_38',
       'cat_var_39', 'cat_var_40', 'cat_var_41', 'cat_var_42'],
      dtype='object')

In [ ]:
def correlation(dataset, threshold):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if corr_matrix.iloc[i, j] >= threshold:
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname]

In [119]:
def correlation(dataset, threshold):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if corr_matrix.iloc[i, j] >= threshold:
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname] # deleting the column from the dataset
    print(dataset)

In [126]:
pd=correlation(train,0.5)

       transaction_id     num_var_1  num_var_2  num_var_3     num_var_4  \
0               id_11  2.302632e-08   0.040182        0.0  1.800000e-07
1               id_33  7.965789e-06   0.157872        0.0  2.105000e-06
2               id_51  7.828947e-08   0.089140        0.0  3.550000e-07
3               id_54  7.894737e-08   0.227239        0.0  1.050000e-06
4               id_62  3.321053e-06   0.160410        0.0  2.105000e-06
5               id_67  1.953947e-07   0.078566        0.0  3.550000e-07
6               id_71  1.736842e-07   0.600508        0.0  4.575000e-06
7               id_88  5.789474e-08   0.152374        0.0  2.105000e-06
8               id_95  3.289474e-08   0.093053        0.0  7.500000e-07
9               id_97  5.500000e-07   0.158401        0.0  2.105000e-06
10             id_109  1.171053e-07   0.153749        0.0  2.105000e-06
11             id_119  2.296053e-07   0.089563        0.0  3.550000e-07
12             id_122  5.197368e-08   0.164111        0.0  2.105000e-06
13             id_129  1.769737e-07   0.495612        0.0  1.133350e-04
14             id_142  1.315789e-07   0.086603        0.0  7.500000e-07
15             id_152  5.065789e-08   0.158507        0.0  2.105000e-06
16             id_156  4.394737e-07   0.159353        0.0  2.105000e-06
17             id_161  6.513158e-07   0.085439        0.0  3.550000e-07
18             id_173  3.947368e-09   0.083113        0.0  3.550000e-07
19             id_213  7.669572e-04   0.005181        0.0  3.486750e-03
20             id_218  4.934211e-08   0.086285        0.0  7.500000e-07
21             id_230  8.026316e-08   0.292165        0.0  2.720000e-06
22             id_236  5.526316e-07   0.085334        0.0  3.550000e-07
23             id_242  8.480263e-07   0.298826        0.0  2.720000e-06
24             id_250  9.802632e-08   0.268584        0.0  3.560000e-06
25             id_253  2.973684e-07   0.137887        0.0  6.090000e-06
26             id_254  2.302632e-08   0.083113        0.0  3.550000e-07
27             id_256  1.125000e-07   0.035001        0.0  2.545000e-06
28             id_259  4.167763e-06   0.159776        0.0  2.105000e-06
29             id_264  3.598684e-07   0.089140        0.0  3.550000e-07
...               ...           ...        ...        ...           ...
348948      id_872344  2.032895e-07   0.148884        0.0  2.105000e-06
348949      id_872345  2.605263e-07   0.085016        0.0  3.550000e-07
348950      id_872347  2.041053e-05   0.150999        0.0  2.105000e-06
348951      id_872352  1.513158e-07   0.149625        0.0  2.105000e-06
348952      id_872353  9.868421e-08   0.085016        0.0  7.500000e-07
348953      id_872359  2.302632e-08   0.088929        0.0  3.550000e-07
348954      id_872371  8.552632e-09   0.078672        0.0  3.550000e-07
348955      id_872374  2.868421e-07   0.572275        0.0  6.270000e-06
348956      id_872376  3.256579e-07   0.078672        0.0  3.550000e-07
348957      id_872381  2.302632e-07   0.159247        0.0  2.105000e-06
348958      id_872385  2.388158e-07   0.158507        0.0  2.105000e-06
348959      id_872391  1.384868e-06   0.227239        0.0  8.820000e-06
348960      id_872396  4.328947e-07   0.164534        0.0  2.105000e-06
348961      id_872399  3.256579e-07   0.085016        0.0  3.550000e-07
348962      id_872401  1.080921e-06   0.085862        0.0  3.550000e-07
348963      id_872403  2.039474e-08   0.571111        0.0  3.470000e-06
348964      id_872404  5.921053e-08   0.098763        0.0  7.500000e-07
348965      id_872405  1.842105e-08   0.078566        0.0  3.550000e-07
348966      id_872407  8.157895e-08   0.152585        0.0  2.105000e-06
348967      id_872411  2.646053e-06   0.608015        0.0  4.010000e-06
348968      id_872415  5.394737e-07   0.160622        0.0  2.105000e-06
348969      id_872419  3.322368e-07   0.150894        0.0  2.105000e-06
348970      id_872420  1.842105e-07   0.089035        0.0  3.550000e-07
348971      id_872428  1.644737e-08   0.083219        0.0  3.550000e-07
348972      id_872431  8.289474e-08   0.078778        0.0  3.550000e-07
348973      id_872435  2.796053e-07   0.085122        0.0  3.550000e-07
348974      id_872436  3.256579e-07   0.085334        0.0  3.550000e-07
348975      id_872437  4.546053e-07   0.148673        0.0  2.105000e-06
348976      id_872440  1.592105e-07   0.079095        0.0  3.550000e-07
348977      id_872443  1.710526e-07   0.163054        0.0  2.105000e-06

           num_var_5 cat_var_1 cat_var_2 cat_var_3 cat_var_4  ...    \
0       2.302632e-08       NaN        ce        db        ep  ...
1       2.769737e-07        da        tn        zl        tn  ...
2       4.671053e-08        gf        ce        gs        tn  ...
3       1.381579e-07       NaN        ce        fy        ep  ...
4       2.769737e-07        da        tn        zn        tn  ...
5       4.671053e-08        gf        ce        qt        tn  ...
6       5.986842e-07        hn        ce        qt        ep  ...
7       2.769737e-07        da        tn        xp        tn  ...
8       8.223684e-08        pu        ce       NaN        ep  ...
9       2.769737e-07        da        tn        tl        tn  ...
10      2.769737e-07        da        tn        uk        tn  ...
11      4.671053e-08        gf        ce        qz        tn  ...
12      2.769737e-07        da        tn        od        tn  ...
13      1.769737e-07        gj        ce        db        ep  ...
14      1.315789e-07        pu        ce        db        ep  ...
15      2.769737e-07        da        tn        qk        tn  ...
16      2.769737e-07        da        tn        zl        tn  ...
17      4.671053e-08        gf        ce        hm        tn  ...
18      4.671053e-08        gf        ce        mm        tn  ...
19      8.385783e-04        ga        iq        bh        ep  ...
20      4.934211e-08        pu        ce        hm        ep  ...
21      3.427632e-07        qk        ce        qk        ep  ...
22      4.671053e-08        gf        ce        ip        tn  ...
23      3.427632e-07        qk        ce        po        ep  ...
24      2.572368e-07        zl        ce        op        ep  ...
25      9.921053e-07        vg        ce        po        ep  ...
26      4.671053e-08        gf        ce        qt        tn  ...
27      3.361842e-07        to        ce        yv        ep  ...
28      2.769737e-07        da        tn        nu        tn  ...
29      4.671053e-08        gf        ce       NaN        tn  ...
...              ...       ...       ...       ...       ...  ...
348948  2.769737e-07        da        tn        qd        tn  ...
348949  4.671053e-08        gf        ce        rl        tn  ...
348950  2.769737e-07        da        tn        ce        tn  ...
348951  2.769737e-07        da        tn        qj        tn  ...
348952  7.894737e-08        pu        ce        yv        ep  ...
348953  4.671053e-08        gf        ce        qt        tn  ...
348954  4.671053e-08        gf        ce        qt        tn  ...
348955  2.782895e-07        wq        ce       NaN        ep  ...
348956  4.671053e-08        gf        ce        yv        tn  ...
348957  2.769737e-07        da        tn        tj        tn  ...
348958  2.769737e-07        da        tn        ta        tn  ...
348959  1.384868e-06        ch        ce        nt        ep  ...
348960  2.769737e-07        da        tn        zl        tn  ...
348961  4.671053e-08        gf        ce        bh        tn  ...
348962  4.671053e-08        gf        ce       NaN        tn  ...
348963  1.150658e-06        og        ce        bz        ep  ...
348964  5.921053e-08        pu        ce       NaN        ep  ...
348965  4.671053e-08        gf        ce        uz        tn  ...
348966  2.769737e-07        da        tn        cf        tn  ...
348967  5.263158e-07        fm        ce        yv        ep  ...
348968  2.769737e-07        da        tn        qb        tn  ...
348969  2.769737e-07        da        tn        tf        tn  ...
348970  4.671053e-08        gf        ce       NaN        tn  ...
348971  4.671053e-08        gf        ce        qt        tn  ...
348972  4.671053e-08        gf        ce        qt        tn  ...
348973  4.671053e-08        gf        ce        uz        tn  ...
348974  4.671053e-08        gf        ce        ba        tn  ...
348975  2.769737e-07        da        tn        od        tn  ...
348976  4.671053e-08        gf        ce       NaN        tn  ...
348977  2.769737e-07        da        tn        yr        tn  ...

       cat_var_34 cat_var_35 cat_var_36 cat_var_37 cat_var_38 cat_var_39  \
0               0          0          0          0          0          0
1               0          0          0          0          0          0
2               0          0          0          0          0          0
3               0          0          0          0          0          0
4               0          0          0          0          0          0
5               0          0          0          0          0          0
6               0          0          0          0          0          0
7               0          0          0          0          0          0
8               0          0          0          0          0          0
9               0          0          0          0          0          0
10              0          0          0          0          0          0
11              0          0          0          0          0          0
12              0          0          0          0          0          0
13              0          0          0          0          0          0
14              0          0          0          0          0          0
15              0          0          0          0          0          0
16              0          0          0          0          0          0
17              0          0          0          0          0          0
18              0          0          0          0          0          0
19              0          0          0          0          0          0
20              0          0          0          0          0          0
21              0          0          0          0          0          0
22              0          0          0          0          0          0
23              0          0          0          0          0          0
24              0          0          0          0          0          0
25              0          0          0          0          0          0
26              0          0          0          0          0          0
27              0          0          0          0          0          0
28              0          0          0          0          0          0
29              0          0          0          0          0          0
...           ...        ...        ...        ...        ...        ...
348948          0          0          0          0          0          0
348949          0          0          0          0          0          0
348950          0          0          0          0          0          0
348951          0          0          0          0          0          0
348952          0          0          0          0          0          0
348953          0          0          0          0          0          0
348954          0          0          0          0          0          0
348955          0          0          0          0          0          0
348956          0          0          0          0          0          0
348957          0          0          0          0          0          0
348958          0          0          0          0          0          0
348959          0          0          0          0          0          0
348960          0          0          0          0          0          0
348961          0          0          0          0          0          0
348962          0          0          0          0          0          0
348963          0          0          0          0          0          0
348964          0          0          0          0          0          0
348965          0          0          0          0          0          0
348966          0          0          0          0          0          0
348967          0          0          0          0          0          0
348968          0          0          0          0          0          0
348969          0          0          0          0          0          0
348970          0          0          0          0          0          0
348971          0          0          0          0          0          0
348972          0          0          0          0          0          0
348973          0          0          0          0          0          0
348974          0          0          0          0          0          0
348975          0          0          0          0          0          0
348976          0          0          0          0          0          0
348977          0          0          0          0          0          0

       cat_var_40 cat_var_41 cat_var_42 target
0               0          0          0      0
1               0          0          0      0
2               0          0          0      0
3               0          0          0      0
4               0          0          0      0
5               0          0          0      0
6               0          0          0      0
7               0          0          0      0
8               0          0          0      0
9               0          0          0      0
10              0          0          0      0
11              0          0          0      1
12              0          0          0      0
13              0          0          0      0
14              0          0          0      0
15              0          0          0      0
16              0          0          0      0
17              0          0          0      0
18              0          0          0      1
19              0          0          0      0
20              0          0          0      0
21              0          0          0      0
22              0          0          0      0
23              0          0          0      0
24              0          0          0      0
25              0          0          0      0
26              0          0          0      0
27              0          0          0      0
28              0          0          0      1
29              0          0          0      1
...           ...        ...        ...    ...
348948          0          0          0      1
348949          0          0          0      0
348950          0          0          0      0
348951          0          0          0      0
348952          0          0          0      0
348953          0          0          0      0
348954          0          0          0      0
348955          0          0          0      0
348956          0          0          0      0
348957          0          0          0      0
348958          0          0          0      0
348959          0          0          0      0
348960          0          0          0      0
348961          0          0          0      0
348962          0          0          0      0
348963          0          0          0      0
348964          0          0          0      0
348965          0          0          0      0
348966          0          0          0      0
348967          0          0          0      0
348968          0          0          0      1
348969          0          0          0      0
348970          0          0          0      0
348971          0          0          0      0
348972          0          0          0      0
348973          0          0          0      0
348974          0          0          0      0
348975          0          0          0      0
348976          0          0          0      0
348977          0          0          0      0

[348978 rows x 46 columns]

In [125]:
len(train.columns)

50

In [153]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
clf = ExtraTreesClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
clf.feature_importances_  

model = SelectFromModel(clf, prefit=True)

In [ ]:
X_train_opt = model.transform(X_train)
feature_idx_train = model.get_support()
feature_name_train = X_train.columns[feature_idx_train]
print(feature_name_train)